body,
div,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 18px;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    color: #000000;
    background: #FFF;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
}

a {
    color: #000000;
    text-decoration: none;
}

/*自定义菜单相关css*/

menu{
    --b: 4px;
    display: none;
    width: max-content;
    padding-bottom: var(--b);
    background: #eee;
    margin: 0;
    position: absolute;
    animation: menushow cubic-bezier(0, 0.6, 1, 0.6) 1s;  
}
.menubox{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
}
.menubox menu{
    display: block;
    padding-left: 0;
    border: 1px solid #000;
}
.menubox menu div{
    cursor: pointer;
    margin:var(--b) var(--b) 0 var(--b);
}
.menubox menu div:hover{
    background: #555;
}
@keyframes menushow{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

:root {
    --primary-color: #316c72;
    --dark-bg: #18181c;
    --link: #007fff;
    --jjext-color-brand: #1e80ff;
    --jjext-color-brand-light: #e8f3ff;
    --jjext-color-nav-title: #86909c;
    --jjext-color-nav-popup-bg: #ffffff;
    --jjext-color-primary: #1d2129;
    --jjext-color-secondary-app: #4e5969;
    --jjext-color-thirdly: #86909c;
    --jjext-color-hover: #1e80ff;
    --jjext-color-hover-thirdly: #86909c;
    --jjext-color-dropdown-text: #1e80ff;
    --jjext-color-divider: #e5e6eb;
    --jjext-color-main-bg: #f4f5f5;

}